@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 30, 30, 30;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #333;
  background-color: #fff;
}

@layer components {
  .title-1 {
    @apply text-lg lg:text-xl font-semibold leading-6;
  }

  .input {
    @apply rounded-sm border p-2 placeholder:text-gray-500 border-gray-300;
  }

  .button {
    @apply flex items-center text-sm font-semibold justify-center rounded-sm py-1.5 px-4;
  }

  .button-primary {
    @apply bg-green-800 text-white;
  }

  .button-reverse {
    @apply border text-green-700 border-green-500;
  }
}

@layer utilities {
}

.truncatee {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* MD Editor */
.md-editor-rtl {
  direction: rtl;
  text-align: right;
}
.md-editor-rtl .w-md-editor-preview {
  box-shadow: none !important;
  border-right: 1px solid var(--color-border-default);
  right: unset !important;
  left: 0;
  text-align: right !important;
}
.md-editor-rtl .w-md-editor-text {
  text-align: right !important;
}
:dir(rtl) .wmde-markdown blockquote {
  border-right: 0.25em solid var(--color-border-default);
  border-left: none;
}
